<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SansK</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  
</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1 class="text-light"><a href="/"><span>SansK</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Levels</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#contact">Contact</a></li>

          <li class="get-started"><a href="#about">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Learn Sanskrit with SansK</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">असतो मा सद्गमय</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Sanskrit belongs to the Indo-European family of languages. It is one of the three earliest ancient documented languages that arose from a common root language now referred to as Proto-Indo-European language.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> <a href="https://en.wikipedia.org/wiki/Sanskrit#Origin_and_development">Origin and development</a></li>
              <li><i class="ri-check-double-line"></i> <a href="https://en.wikipedia.org/wiki/Sanskrit#Vedic_Sanskrit">Vedic Sanskrit</a></li>
              <li><i class="ri-check-double-line"></i> <a href="https://en.wikipedia.org/wiki/Sanskrit#Classical_Sanskrit">Classical Sanskrit</a></li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Sanskrit is not merely a language. It is the heritage of knowledge.
It is not just the medium of literature. It's a medium for higher thoughts in which the soul of the nation appears"!
To learn about this language we made a proper website which include three level rookie, intermediate and expert. So get ready and explore !!!
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

        <!-- ======= Tweets Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <h2>Tweets</h2>
              <p>Tweets from some known personalities.</p>
            </div>
    
            <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="200">
    
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Narendra Modi</h3>
                  <h4>Prime Minister of India</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    अद्य संस्कृतदिवसे ये संस्कृतभाषां पठन्ति तथा च जनेषु तस्याः प्रचारार्थं प्रयासं कुर्वन्ति तान् सर्वान् प्रणमामि। संस्कृतभाषा सुन्दरी भाषा अस्ति किञ्च सहस्रशः वर्षेभ्यः अस्माकं श्रेष्ठायाः संस्कृत्याः भागभूता अस्ति। आगामिषु वर्षेषु संस्कृतभाषायाः लोकप्रियता नितराम् अभिवर्धताम्।
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
    
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Aruna Krishnan</h3>
                  <h4></h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Sanskrit is our medium of contemplation, expression and wisdom. The basis of Indian culture is Sanskrit. It can play a very important role to realise the goal of 'Atmanirbhar Bharat' as India moves ahead. Sanskrit is not merely a language. It is the heritage of knowledge.
                    It is not just the medium of literature. It's a medium for higher thoughts in which the soul of the nation appears.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
    
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Y. Satya Kumar</h3>
                  <h4></h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    From Hindi to Gujarati to Telugu, Malayalam and Tamil, you will find sanskrit words in almost all Indian languages! Scholars and linguists agree that Sanskrit is the most scientific & systematic language;the world has ever known
                    The alphabets & phonology are scientific innovations based on human physiology.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
    
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/xyx.png" class="testimonial-img" alt="">
                  <h3>Sanskrit @ St James</h3>
                  <h4></h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    We aim to promote and support the teaching of Sanskrit in schools on a global basis.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
    
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>INDICA MOKSHA</h3>
                  <h4></h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Bhagavad Gita is one of the most important works of Vedanta. With Karma, Bhakti, Jnana Yoga it shows the path to Oneness. In this new series, Dr.Karanam Aravinda Rao will speak on #BhagavadGita in simple #Sanskrit.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Tweets Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>LEVELS</h2>
          <p>Choose your level</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-29 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="/inner-page">Rookie</a></h4>
              <p class="description">Numbers, Days of the week, Time, शब्द परिचय</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-29 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="/interme">Intermediate</a></h4>
              <p class="description">संस्कृत लिंग, संस्कृत पुरुष, कारक, लकार, वाच्य</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-29 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="/expert">Expert</a></h4>
              <p class="description">Vyakran, कृदंत(Participle)</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= More Services Section ======= -->
    <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("images/662.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">Vedic Mathematics</a></h5>
                <p class="card-text">Vedic Mathematics is a book written by the Indian monk Bharati Krishna Tirtha, and first published in 1965.</p>
                <div class="read-more"><a href="https://en.wikipedia.org/wiki/Vedic_Mathematics"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("images/mahavisnu.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Vedic Science</a></h5>
                <p class="card-text">Vedic science may refer to a number of disciplines: ancient and modern, scientific, metaphysical, proto-scientific, found in or based in the Vedas.</p>
                <div class="read-more"><a href="http://vedicheritage.gov.in/science/"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>

      </div>
    </section><!-- End More Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Core Members of GEEKS042</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-1.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/VyasYajush"><i class="icofont-twitter"></i></a>
                  <a href="https://www.instagram.com/__vyas.ji__/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/yajush-vyas-9465261b4/"><i class="icofont-linkedin"></i></a>
                  <a href="https://github.com/geekyvyas"><i class="icofont-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yajush Vyas</h4>
                <span>Core Member</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.instagram.com/ka_karan_karry_28/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/vansh-arora-a738611b4/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Vansh Arora</h4>
                <span>Core Member</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.instagram.com/iparth36i/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/parth-gandhi-478379162/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Parth Gandhi</h4>
                <span>Core Member</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.instagram.com/___mansi.r___/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/mansi-raghav-316345202/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mansi Raghav</h4>
                <span>Core Member</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Try our premium</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Specific levels</li>
                <li class="na">Video Lectures</li>
                <li class="na">Special QNA</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h3>Business</h3>
              <h4><sup>$</sup>5<span> / month</span></h4>
              <ul>
                <li>Access of all Rookie and Intermediate lessons</li>
                <li>Special QNA</li>
                <li class="na">Video Lectures</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
              <h3>Developer</h3>
              <h4><sup>$</sup>10<span> / month</span></h4>
              <ul>
                <li>Access of all Rookie and Intermediate lessons</li>
                <li>Special QNA</li>
                <li>Video Lectures</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>I want to study Sanskrit, but do not know where to start. Can you help?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              We have attempted to compile documents in Sanskrit at <a href="https://github.com/GEEKS042">SansK</a> and its mirror sites, along with links to various organizations affiliated with the Indian "thought."
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Where may I find a history of the Sanskrit language?
              Where is Sanskrit located in the world?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Sanskrit is certainly used mainly in India. It is considered the originator (mother) of most of the languages in India. As a high level Indo-European language, one time, it had widespread influence on the people in Asia and Northern regions (including part of Russia.) Unfortunately, over long time period, due to conquests and expansionist attitudes of certain beliefs and societies, it stayed concentrated mainly in India/Nepal region.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>How long does it take to learn the Sanskrit language?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              The duration depends on the purpose of learning the language. if you want to learn Sanskrit top understand the ancient scriptures and texts, then it will take around 6 months to 1 or maybe 2 years, Whereas, if you want to learn spoken Sanskrit then it will take you around 3-4 months.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>How to learn the Sanskrit language quickly?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Learning any language usually requires a time period of at least a month. However, if you wish to learn Sanskrit quickly then you’ll have to develop a habit of practicing the Sanskrit language daily giving at least 2-3 hours.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>How many years old is the Sanskrit language?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              There are many claims on this topic; some say it was initially spoken in the region of Anatolia (modern-day Turkey) around 8000 to 9000 years ago. However it reached India around 6000 years ago, hence it can be said that the language in India is around 6000 years old.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>GEEKS042</h3>
              <p>We are an organization of 1st year students from Chandigarh University creating non-profitable and useful apps, softwares and websites for people.</p>
              <div class="social-links">
                <a href="https://github.com/GEEKS042">
                  <img alt="GEEKS042 Github" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@3.12.2/icons/github.svg" />
                </a>Github
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Chandigarh University<br>Gharun</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>dryashhoney@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+91 8160467125</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>SansK</strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://github.com/GEEKS042">GEEKS042</a> team
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="/pvc">Privacy Policy</a>
            <a href="/pvc">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


</body>

</html>