<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>कारक</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1 class="text-light"><a href="/"><span>SansK</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#services">Levels</a></li>
          <li><a href="/#team">Team</a></li>
          <li><a href="/#pricing">Pricing</a></li>
          <li><a href="/#contact">Contact</a></li>

          <li class="get-started"><a href="/#about">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>कारक</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/interme">Intermediate</a></li>
            <li>कारक</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

  </main><!-- End #main --><h3>कारक की परिभाषा </h3><p><strong>Karak in Sanskrit:&nbsp;</strong>क्रिया को जो करता है अथवा क्रिया के साथ जिसका सीधा अथवा परम्परा से सम्बन्ध होता है, वह ‘कारक’ कहा जाता है। क्रिया के साथ कारकों का साक्षात् अथवा परम्परा से सम्बन्ध किस प्रकार होता है, यह समझाने के लिए यहाँ एक वाक्य प्रस्तुत किया जा रहा है। जैसे-</p>
  <img src="images/karak.png" width="60%" height="50%" class="center" >
  <p>.



  .</p>
   <p><p>यहाँ कारकों और विभक्तियों का सामान्य – परिचय प्रस्तुत किया जा रहा है…</p><h3>कर्त्ता कारक (प्रथमा विभक्ति)</h3><p><strong>कारकम्। – प्रथमा विभक्तिः -Karak in Sanskrit&nbsp;</strong></p><p>(1) जो क्रिया के करने में स्वतन्त्र होता है, वह कर्ता कहा जाता है ‘स्वतन्त्रः कर्ता’। उक्त कर्त्ता में प्रथमा विभक्ति आती है। जैसे-</p><ul><li>रामः पठति।</li></ul><h3>कर्म कारक (द्वितीया विभक्ति)</h3><p><strong>कारकम्। – द्वितीया विभक्तिः -Karak in Sanskrit&nbsp;</strong></p><p>(1) कर्ता क्रियया यं सर्वाधिकम् इच्छति तस्य कर्मसंज्ञा भवति। (कर्तुरीप्सिततमं कर्म।) कर्मणि च द्वितीया विभक्तिः भवति। (कर्मणि द्वितीया) यथा संजीव पास बुक्स (कर्त्ता क्रिया के द्वारा जिसको सबसे अधिक चाहता है, उसकी कर्म संज्ञा होती है तथा कर्म में द्वितीया विभक्ति आती है। जैसे–</p><ul><li>रामः ग्रामं गच्छति।</li></ul><h3>करण कारक (तृतीया विभक्ति)</h3><p><strong>कारकम्। – तृतीया विभक्तिः – Karak in Sanskrit&nbsp;&nbsp;</strong></p><p>(1) (क) (साधकतमं करणम्) “कर्तृकरणयोस्तृतीया” क्रिया की सिद्धि में जो सर्वाधिक सहायक होता है, उस कारक की करण संज्ञा होती है और उसमें तृतीया विभक्ति प्रयुक्त होती है। यथा</p><ul><li>जागृतिः कलमेन लिखति।</li><li>वैशाली: जलेन मुखं प्रक्षालयति।</li><li>रामः दुग्धेन रोटिकां खादति।</li><li>सुरेन्द्रः पादाभ्यां चलति।।</li></ul><h3>सम्प्रदान कारक (चतुर्थी विभक्ति)</h3><p><strong>कारकम्। – चतुर्थी विभक्तिः – Karak in Sanskrit&nbsp;</strong></p><p>(1) दानस्य कर्मणा कर्ता यं सन्तुष्टं कर्तुम् इच्छति सः सम्प्रदानम् इति कथ्यते (कर्मणा यमभिप्रेति स सम्प्रदानम्।) सम्प्रदाने च (‘चतुर्थी समप्रदाने’) चतुर्थी विभक्तिः भवति। (दान कर्म के द्वारा कर्ता जिसको सन्तुष्ट करना चाहता है वह सम्प्रदान कहा जाता है और सम्प्रदान में चतुर्थी विभक्ति प्रयुक्त होती है।) यथा-</p><p><em>नृपः निर्धनाय धनं यच्छति। </em><br> <em>बालकः स्वमित्राय पुस्तकं ददाति।</em></p><h3>अपादान कारक (पंचमी विभक्ति)</h3><p><strong>कारकम्। – पंचमी विभक्तिः – Karak in Sanskrit&nbsp;</strong></p><p>(1) ध्रुवमपायेऽपादानम् अपादाने पञ्चमी – पृथक् होने पर जो स्थिर है उसकी अपादान संज्ञा होती है और अपादान में पंचमी विभक्ति प्रयुक्त होती है। यथा-</p><p><em>वृक्षात् पत्रं पतति। (वृक्ष से पत्ता गिरता है।) </em><br> <em>नृपः ग्रामात् आगच्छति। (राजा गाँव से आता है।)</em></p><h3>संबंध कारक (षष्ठी विभक्ति) (Possessive Case)</h3><p><strong>कारकम्। – षष्ठी विभक्तिः – Karak in Sanskrit&nbsp;</strong></p><p>(1) षष्ठी शेषे – सम्बन्ध में षष्ठी विभक्ति प्रयुक्त होती है। यथा-</p><p><em>रमेशः संस्कृतस्य पुस्तकं पठति। (रमेश संस्कृत की पुस्तक पढ़ता है।)</em></p><h3>अधिकरण कारक (सप्तमी विभक्ति)</h3><p><strong>कारकम्। – सप्तमी विभक्तिः – Karak in Sanskrit&nbsp;</strong></p><p>(1) आधारोऽधिकरणम् सप्तम्यधिकरणे च – क्रिया की सिद्धि में जो आधार होता है, उसकी अधिकरण संज्ञा होती है और अधिकरण में सप्तमी विभक्ति होती है। यथा-</p><p><em>नृपः सिंहासने तिष्ठति। </em><br> <em>वयं ग्रामे निवसामः।</em><br> <em> तिलेषु तैलं विद्यते।</em></p></div>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>SansK</strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://github.com/GEEKS042">GEEKS042</a> team
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="/#intro" class="scrollto">Home</a>
            <a href="/#about" class="scrollto">About</a>
            <a href="/pvc">Privacy Policy</a>
            <a href="/pvc">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>