<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>लकार</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1 class="text-light"><a href="/"><span>SansK</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#services">Levels</a></li>
          <li><a href="/#team">Team</a></li>
          <li><a href="/#pricing">Pricing</a></li>
          <li><a href="/#contact">Contact</a></li>

          <li class="get-started"><a href="/#about">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>लकार</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/interme">Intermediate</a></li>
            <li>लकार</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

  </main><!-- End #main -->
                <div class="row" id="content-wrapper" style="height: auto !important;">
                <div class="container">
                <!-- Main Wrapper -->
                <div id="main-wrapper" style="height: auto !important;">
                <div class="main section" id="main" name="Main Posts" style="height: auto !important;"><div class="widget Blog" data-version="2" id="Blog1" style="height: auto !important;">
                <div class="blog-posts hfeed container item-post-wrap" style="height: auto !important;">
                <div class="blog-post hentry item-post" style="height: auto !important;">
                <div class="post-item-content" style="height: auto !important;">
                <script type="application/ld+json">{
                  "@context": "http://schema.org",
                  "@type": "BlogPosting",
                  "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "https://www.mycoaching.in/2020/08/lakar.html"
                  },
                  "headline": "लक&#2366;र - स&#2306;स&#2381;क&#2371;त क&#2368; लक&#2366;र&#2375;&#2306;, प&#2381;रक&#2366;र or भ&#2375;द - स&#2306;स&#2381;क&#2371;त म&#2375;&#2306; सभ&#2368; लक&#2366;र","description": "लक&#2366;र  स&#2306;स&#2381;क&#2371;त  भ&#2366;ष&#2366; म&#2375;&#2306; दस लक&#2366;र&#2375;&#2306;  ह&#2379;त&#2368; ह&#2376;&#2306; - लट&#2381; लक&#2366;र (Present Tense), ल&#2379;ट&#2381; लक&#2366;र (Imperative Mood), लङ&#2381;ग&#2381; लक&#2366;र (Past Tense), व&#2367;ध&#2367;ल&#2367;ङ&#2381;ग&#2381;...","datePublished": "2020-09-06T19:21:00+05:30",
                  "dateModified": "2020-10-11T21:46:39+05:30","image": {
                    "@type": "ImageObject","url": "https://3.bp.blogspot.com/-HWm2f5ib0nA/XypxQZkrOeI/AAAAAAAADP0/1XFPs6LNUsYldWyhhL7dPm67w_AaH7dyACLcBGAsYHQ/w1200-h630-p-k-no-nu/Lakar.jpg",
                    "height": 630,
                    "width": 1200},"publisher": {
                    "@type": "Organization",
                    "name": "Blogger",
                    "logo": {
                      "@type": "ImageObject",
                      "url": "https://lh3.googleusercontent.com/ULB6iBuCeTVvSjjjU1A-O8e9ZpVba6uvyhtiWRti_rBAs9yMYOFBujxriJRZ-A=h60",
                      "width": 206,
                      "height": 60
                    }
                  },"author": {
                    "@type": "Person",
                    "name": "My Coaching"
                  }
                }</script>
                <h1 class="post-title">
                लकार - संस्कृत की लकारें, प्रकार or भेद - संस्कृत में सभी लकार
                </h1>
                <div class="post-body post-content" style="height: auto !important;">
                <div dir="ltr" style="text-align: left;" trbidi="on">
                <div class="separator" style="clear: both; text-align: center;">
                <a href="images/Lakar1.jpg" style="margin-left: 1em; margin-right: 1em;"><img alt="Lakar - lakar in sanskrit" border="0" data-original-height="494" data-original-width="988" src="images/Lakar1.jpg" title="Lakar - lakar in sanskrit"></a></div>
                <h2 style="text-align: center;">
                लकार</h2>
                <a>संस्कृत</a> भाषा में <a>दस लकारें</a> होती हैं - लट् लकार (Present Tense), लोट् लकार (Imperative Mood), लङ्ग् लकार (Past Tense), विधिलिङ्ग् लकार (Potential Mood), लुट् लकार (First Future Tense or Periphrastic), लृट् लकार (Second Future Tense), लृङ्ग् लकार (Conditional Mood), आशीर्लिन्ग लकार (Benedictive Mood), लिट् लकार (Past Perfect Tense), लुङ्ग् लकार (Perfect Tense)। उनमें से आज पाँच लकारें (लट् लकार, लङ् लकार, लृट् लकार, लोट् लकार तथा विधि लिङ् लकार) ही प्रचलन में है।<br>
                <h2 style="text-align: left;">
                <a>लकार के प्रकार</a></h2>
                <ol style="text-align: left;">
                <li><a>लट् लकार</a> (Present Tense)</li>
                <li><a>लोट् लकार</a> (Imperative Mood)</li>
                <li><a>लङ्ग् लकार</a> (Past Tense)</li>
                <li><a>विधिलिङ्ग् लकार</a> (Potential Mood)</li>
                <li><a>लुट् लकार</a> (First Future Tense or Periphrastic)</li>
                <li><a>लृट् लकार</a> (Second Future Tense)</li>
                <li><a>लृङ्ग् लकार</a> (Conditional Mood)</li>
                <li><a>आशीर्लिन्ग लकार</a> (Benedictive Mood)</li>
                <li><a>लिट् लकार</a> (Past Perfect Tense)</li>
                <li><a>लुङ्ग् लकार</a> (Perfect Tense)
                </li>
                </ol>
                <div class="separator" style="clear: both; text-align: center;">
                <a href="images/Lakar2.jpg" style="margin-left: 1em; margin-right: 1em;"><img alt="Sanskrit Lakar" border="0" data-original-height="494" data-original-width="988" src="images/Lakar2.jpg" title="Sanskrit Lakar"></a></div>
                <h2 style="text-align: center;">
                संस्कृत की 10 लकारों का परिचय</h2>
                <h3 style="text-align: left;">
                1. <a>लट् लकार</a> (वर्तमान काल)</h3>
                <b><span style="color: red;">वर्तमाने लट्</span></b> - वर्तमान काल में लट् लकार का प्रयोग होता है। क्रिया के जिस रूप से कार्य का वर्तमान समय में होना पाया जाता है, उसे वर्तमान काल कहते हैं, जैसे- राम घर जाता है- रामः गृहं गच्छति। इस वाक्य में 'जाना' क्रिया का प्रारम्भ होना तो पाया जाता है, लेकिन समाप्त होने का संकेत नहीं मिल रहा है। 'जाना' क्रिया निरन्तर चल रही है। अतः यहाँ वर्तमान काल है।<br>
                <br>
                <a>क्रिया</a> सदैव अपने <a>कर्ता</a> के अनुसार ही प्रयुक्त होती है। <a>कर्त्ता</a> जिस <a>पुरुष</a>, <a>वचन</a> तथा <b>काल</b> का होता है, क्रिया भी उसी पुरुष, वचन तथा काल की ही प्रयुक्त होती है। यह स्पष्ट ही किया जा चुका है कि मध्यम पुरुष में <a >युष्मद् </a>शब्द (<a>त्वम्</a>) के रूप तथा उत्तम पुरुष में <a>अस्मद्</a> शब्द (<a >अहम्</a>) के रूप ही प्रयुक्त होते हैं। शेष जितने भी <a>संज्ञा</a> या <a >सर्वनाम</a> के रूप हैं, वे सब प्रथम पुरुष में ही प्रयोग किये जाते हैं।<br>
                <h4 style="text-align: left;">
                लट् लकार के कुछ उदाहरण</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>वह पढ़ता है।<br>
                सः पठति।<br>
                वह पढ़ती है।<br>
                सा पठति।<br>
                फल गिरता है।<br>
                फलं पतति।<br>
                आप जाते हैं।<br>
                भवान् गच्छति।</td>
                <td>वे दोनों पढ़ते हैं।<br>
                तौ पठतः।<br>
                वे दोनों पढ़ती हैं।<br>
                ते पठतः।<br>
                दो फल गिरते हैं।<br>
                फले पततः।<br>
                आप दोनों जाते हैं।<br>
                भवन्तौ गच्छतः।</td>
                <td>वे सब पढ़ते हैं।<br>
                ते पठन्ति।<br>
                वे सब पढ़ती हैं।<br>
                ता पठन्ति।<br>
                फल गिरते हैं।<br>
                फलानि पतन्ति।<br>
                आप सब जाते हैं।<br>
                भवन्तः गच्छन्ति।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुम पढ़ते हो।<br>
                त्वं पठसि।</td>
                <td>तुम दोनों पढ़ते हो।<br>
                युवां पठथः।</td>
                <td>तुम सब पढ़ते हो।<br>
                यूयं पठथ।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मैं पढ़ता हूँ।<br>
                अहं पठामि।</td>
                <td>हम दोनों पढ़ते हैं।<br>
                आवां पठावः।</td>
                <td>हम सब पढ़ते हैं।<br>
                वयं पठामः।</td>
                </tr>
                </tbody>
                </table>
                <div class="note">
                <div class="note-content">
                1. <a>युष्मद्</a> तथा <a>अस्मद्</a> के रूप स्त्रीलिंग तथा पुल्लिंग में एक समान ही होते हैं।<br>
                2. वर्तमान काल की <a>क्रिया</a> के आगे '<b>स्म</b>' जोड़ देने पर वह भूतकाल की हो जाती है, <b>जैसे</b>- रामः गच्छति। (राम जाता है), वर्तमान काल- रामः गच्छति स्म। (राम गया था) भूत काल।
                </div>
                </div>
                <h3 style="text-align: left;">
                2. <a>लिट् लकार</a> (परोक्ष भूत काल)</h3>
                <b><span style="color: red;">परोक्षेलिट्</span></b> - परोक्ष भूत काल में लिट् लकार का प्रयोग होता है। जो कार्य आँखों के सामने पारित होता है, उसे परोक्ष भूतकाल कहते हैं।<br>
                <br>
                उत्तम पुरुष में लिट् लकार का प्रयोग केवल स्वप्न या उन्मत्त अवस्था में ही होता है; <b>जैसे</b>- सुप्तोऽहं किल विलाप। (मैंने सोते में विलाप किया।)<br>
                <h4 style="text-align: left;">
                पुरुष तथा वचन के अनुसार लिट् लकार के उदाहरण</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>उसने पढ़ा।<br>
                सः पपाठ।</td>
                <td>उन दोनो ने पढ़ा।<br>
                तौ पेठतुः।</td>
                <td>उन सबने पढ़ा।<br>
                ते पेठुः।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुमने पढ़ा।<br>
                त्वं पेठिथ।</td>
                <td>तुम दोनों ने पढ़ा।<br>
                युवां पेठथुः</td>
                <td>तुम सबने पढ़ा।<br>
                यूयं पेठ।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मैंने पढ़ा।<br>
                अहं पपाठ।</td>
                <td>हम दोनों ने पढ़ा।<br>
                आवां पेठिव।</td>
                <td>हम सबने पढ़ा।<br>
                वयं पेठिम।</td>
                </tr>
                </tbody>
                </table>
                <h3 style="text-align: left;">
                3. <a >लुट् लकार</a> (अनद्यतन भविष्यत काल)</h3>
                <b><span style="color: red;">अनद्यतने लुट्</span></b> - अनद्यतन भविष्यत काल में लुट् लकार का प्रयोग होता है। बीती हुई रात्रि के बारह बजे से, आने वाली रात के बारह बजे तक के समय को 'अद्यतन' (आज का समय) कहा जाता है। आने वाली रात्रि के बारह बजे के बाद का जो समय होता है उसे अनद्यतन भविष्यत काल कहते हैं; <b>जैसे</b>- अहं श्व: गमिष्यामि। (मैं कल जाऊँगा)<br>
                <h4 style="text-align: left;">
                लुट् लकार के उदाहरण</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>वह पढ़ेगा/पढ़ेगी।<br>
                सः/सा पठिता।</td>
                <td>वे दोनों पढ़ेगे/पढ़ेगी।<br>
                तौ/ते पठितारौ।</td>
                <td>वे सब पढ़ेगे/पढ़ेगी।<br>
                ते/ता पठितारः।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुम पढ़ोगे/पढ़ोगी।<br>
                त्वं पठितासि।</td>
                <td>तुम दोनों पढ़ोगे/पढ़ोगी।<br>
                युवां पठितास्थः।&nbsp;</td>
                <td>&nbsp;तुम सब पढ़ोगे/पढ़ोगी।<br>
                यूयं पठितास्थ।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मैं पढूंगा/पढूंगी।<br>
                अहं पठितास्मि।</td>
                <td>हम दोनों पढ़ेगे/पढ़ेगी।<br>
                आवां पठितास्वः।</td>
                <td>हम सब पढ़ेगे/पढ़ेगी।<br>
                वयं पठितास्मः।</td>
                </tr>
                </tbody>
                </table>
                <h3 style="text-align: left;">
                4. <a>लृट् लकार</a> (सामान्य भविष्यत काल)</h3>
                <b><span style="color: red;">लृट् शेषे च</span></b> - सामान्य भविष्यत काल में 'लुट् लकार' का प्रयोग किया जाता है। <a>क्रिया</a> के जिस रूप से उसके भविष्य में सामान्य रूप से होने का पता चले, उसे 'सामान्य भविष्यत काल' कहते हैं; <b>जैसे</b>- विमला पुस्तकं पठिष्यति। (विमला पुस्तक पढ़ेगी।)<br>
                <h4 style="text-align: left;">
                लृट् लकार के उदाहरण</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>वह पढ़ेगा/पढ़ेगी।<br>
                सः/सा पठिष्यति।</td>
                <td>वे दोनों पढ़ेगे/पढ़ेगी।<br>
                तौ/ते पठिष्यतः।</td>
                <td>वे सब पढ़ेगे/पढ़ेगी।<br>
                ते/ता पठिष्यन्ति।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुम पढ़ोगे/पढ़ोगी।<br>
                त्वं पठिष्यसि।</td>
                <td>तुम दोनों पढ़ोगे/पढ़ोगी।<br>
                युवां पठिष्यथः।</td>
                <td>&nbsp;तुम सब पढ़ोगे/पढ़ोगी।<br>
                यूयं पठिष्यथ।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मैं पढूंगा/पढूंगी।<br>
                अहं पठिष्यामि।</td>
                <td>हम दोनों पढ़ेगे/पढ़ेगी।<br>
                आवां पठिष्यावः।</td>
                <td>हम सब पढ़ेगे/पढ़ेगी।<br>
                वयं पठिष्यामः।</td>
                </tr>
                </tbody>
                </table>
                <h3 style="text-align: left;">
                5. <a >विधिलिङ्ग् लकार</a> (चाहिए के अर्थ में)</h3>
                <b><span style="color: red;">विधिनिमन्त्रणामन्त्रणाधीष्टसंप्रश्नप्रार्थनेषु लिङ्</span></b> - विधि (चाहिये), निमन्त्रण, आदेश, विधान, उपदेश, प्रश्न तथा प्रार्थना आदि अर्थों का बोध कराने के लिये विधि लिङ् लकार का प्रयोग किया जाता है; <b>जैसे</b>-<br>
                <ul style="text-align: left;">
                <li><b>विधि</b>- सत्यं ब्रूयात। (सत्य बोलना चाहिये), प्रियं ब्रूयात्। (प्रिय बोलना चाहिये।)</li>
                <li><b>निमन्त्रण</b>- भवान अद्य अत्र भक्षयेत्। (आप आज यहाँ भोजन करें।)</li>
                <li><b>आदेश</b>- भृत्यः क्षेत्रे गच्छेत्। (नौकर खेत पर जाये।)</li>
                <li><b>प्रश्न</b>- त्वंम् किम कुर्याः? (तुम्हें क्या करना चाहिये?)</li>
                <li><b>इच्छा</b>- यूयं सुखी भवेत्। (तुम खुश रहो।)</li>
                </ul>
                <h4 style="text-align: left;">
                कर्ता, क्रिया, वचन तथा पुरुष अनुसार विधि लिङ् लकार के उदाहरण</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>उसे पढ़ना चाहिये।<br>
                सः पठेत्।</td>
                <td>उन दोनों को पढ़ना चाहिये।<br>
                तौ पठेताम्।</td>
                <td>उन सबको पढ़ना चाहिये।<br>
                ते पठेयुः।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुम्हें पढ़ना चाहिये।<br>
                त्वं पठे।</td>
                <td>&nbsp;तुम दोनों को पढ़ना चाहिये।<br>
                युवां पठेतम्।</td>
                <td>तुम सबको पढ़ना चाहिये।<br>
                यूयं पठेत।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मुझे पढ़ना चाहिये।<br>
                अहं पठेयम्।</td>
                <td>हम दोनों को पढ़ना चाहिये।<br>
                आवां पठेव्।</td>
                <td>हम सबको पढ़ना चाहिये।<br>
                वयं पठेमः।</td>
                </tr>
                </tbody>
                </table>
                <div class="note">
                <div class="note-content">
                अंग्रेजी भाषा के May, Might, Must, Should के समान लिंग लकार होता है।
                </div>
                </div>
                <h3 style="text-align: left;">
                6. <a >लोट् लकार</a> (आज्ञार्थक)</h3>
                <b><span style="color: red;">आशिषि लिङ् लोटौं</span></b> - आज्ञा, प्रार्थना अनुमति, आशीर्वाद आदि का बोध कराने के लिये लोट् लकार का प्रयोग किया जाता है। <b>जैसे</b>-<br>
                <ul style="text-align: left;">
                <li><b>आज्ञा</b>- त्वं गृहं गच्छ। (तुम घर जाओ।)</li>
                <li><b>प्रार्थना</b>- भवान मम गृहं आगच्छतु। (आप मेरे घर आयें।)</li>
                <li><b>अनुमति</b>- अहं कुत्र गच्छानि? (मैं कहाँ जाऊँ ?)</li>
                <li><b>आशीर्वाद</b>- त्वं चिरं जीव। (तुम बहुत समय तक जियो।)</li>
                </ul>
                <h4 style="text-align: left;">
                लोट् लकार के उदाहरण</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>वह पढ़े।<br>
                सः पठतु।</td>
                <td>वे दोनों पढ़े।<br>
                तौ पठताम्।</td>
                <td>वे सब पढ़े।<br>
                ते पठन्तु।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुम पढ़ो।<br>
                त्वं पठ।</td>
                <td>तुम दोनों पढ़ो।<br>
                युवां पठतम्।</td>
                <td>तुम सब पढ़ो।<br>
                यूयम् पठत।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मैं पढ़ूँ।<br>
                अहं पठानि।</td>
                <td>हम दोनों पढ़े।<br>
                आवां पठाव।</td>
                <td>हम सब पढ़े।<br>
                वयं पठाम।</td>
                </tr>
                </tbody>
                </table>
                <h3 style="text-align: left;">
                7. <a>लङ्ग्&nbsp;लकार</a> (अनद्यतन भूत काल)</h3>
                <b><span style="color: red;">अनद्यतने लङ्</span></b>&nbsp;- अनद्यतन भूत में लङ् लकार होता है, जो कार्य आज से पूर्व हो चुका है अर्थात् क्रिया आज समाप्त नहीं हुई बल्कि कल या उससे भी पूर्व हो चुकी है, वह अनद्यतन काल होता है।<br>
                <h4 style="text-align: left;">
                लृङ्ग् लकार के उदाहरण</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>उसने पढ़ा।<br>
                स: अपठत्।</td>
                <td>उन दोनों ने पढ़ा।<br>
                तौ अपठताम्।</td>
                <td>उन सबने पढ़ा।<br>
                ते अपठन्।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुमने पढ़ा।<br>
                त्वम् अपठः।</td>
                <td>तुम दोनों ने पढ़ा।<br>
                युवाम् अपठतम्।</td>
                <td>तुम सबने पढ़ा।<br>
                यूयं अपठत।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मैंने पढ़ा।<br>
                अहम् अपठम्।</td>
                <td>हम दोनों ने पढ़ा।<br>
                आवाम् अपठाव।</td>
                <td>हम सबने पढ़ा।<br>
                वयम् अपठाम्।</td>
                </tr>
                </tbody>
                </table>
                <div class="note">
                <div class="note-content">
                'स्वर' आगे होने पर 'म' का अनुस्वार नहीं होता है अतः यहाँ 'अ' स्वर होने के कारण 'त्वम्' आदि के 'म' को अनुस्वार नहीं किया गया है।
                </div>
                </div>
                <h3>
                8. <a>आशीर्लिन्ग लकार</a> (आशीर्वादात्मक)</h3>
                <b><span style="color: red;">आशी:</span></b> - आशीर्वाद के अर्थ में आशीलिङ् लकार का प्रयोग किया जाता है, <b>जैसे</b>- रामः विजीयात्। (राम विजयी हो।)<br>
                <h4 style="text-align: left;">
                कर्ता, क्रिया, पुरुष तथा वचन अनुसार आशीलिङ् लकार के उदाहरण</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>वह पढे। सः पठ्यात्।</td>
                <td>वे दोनों पढ़े। तौ पठ्यास्ताम्।</td>
                <td>वे सब पढ़े। ते पठ्यासु।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुम पढ़ो। त्वं पठ्याः।</td>
                <td>तुम दोनों पढ़ो। युवां पठ्यास्तम्।</td>
                <td>तुम सब पढ़ो। यूयं पठ्यास्त।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मैं पढ़ूँ। अहं पठ्यासम्।</td>
                <td>हम दोनों पढ़े। आवाम्&nbsp;पठ्यास्व।</td>
                <td>हम सब पढ़े। वयम्&nbsp;पठ्यास्म।</td>
                </tr>
                </tbody>
                </table>
                <h3>
                9. <a>लुङ्ग् लकार</a> (सामान्य भूत काल)</h3>
                <b><span style="color: red;">लुङ्</span></b> - लुङ् लकार में सामान्य भूत काल का प्रयोग होता है। क्रिया के जिस रूप में भूतकाल के साधारण रूप का बोध होता है, उसे सामान्य काल कहते हैं। सामान्य भूत काल का प्रयोग प्रायः सभी अतीत कालों के लिये किया जाता है; <b>जैसे</b>- अहं पुस्तकम् अपाठिषम्। (मैंने पुस्तक पढ़ी।)<br>
                <h4 style="text-align: left;">
                कर्ता, क्रिया, वचन तथा पुरुष अनुसार लुङ् लकार के उदाहरण</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>उसने पढ़ा।<br>
                स: अपाठीत्।</td>
                <td>उन दोनों ने पढ़ा।<br>
                तौ अपाठिष्ताम्।</td>
                <td>उन सबने पढ़ा।<br>
                ते अपाठिषु:।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुमने पढ़ा।<br>
                त्वम् अपाठी:।</td>
                <td>तुम दोनों ने पढ़ा।<br>
                युवाम् अपाठिष्टम्</td>
                <td>तुम सबने पढ़ा।<br>
                यूयम् अपाठिष्ट।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मैंने पढ़ा।<br>
                अहम् अपाठिषम्।</td>
                <td>हम दोनों ने पढ़ा।<br>
                आवाम् अपाठिष्व।</td>
                <td>हम सबने पढ़ा।<br>
                वयम् अपाठिष्म।</td>
                </tr>
                </tbody>
                </table>
                <div class="note">
                <div class="note-content">
                'मा था 'मास्म' के आने पर धातु से पूर्व आने वाला 'आ' हट जाता है, <b>जैसे</b>- क्लैव्यं मा स्म गमः पार्थ। (हे पार्थ! तुम नपुंसकता प्राप्त मत करो।) यहाँ 'मा' के आ जाने पर अगम: के 'अ' का लोप होकर केवल 'गमः शेष बचा है।
                </div>
                </div>
                <h3 style="text-align: left;">
                10. <a>लृङ्ग् लकार</a> (हेतु हेतुमद भूतकाल)</h3>
                <b><span style="color: red;">लिङ निमित्ते लुङ् क्रियातिपत्तौ</span></b> - क्रियातिपत्ति में लुङ् लकार होता है। जहाँ पर भूतकाल की एक क्रिया दूसरी क्रिया पर आश्रित होती है, वहाँ पर हेतु हेतुमद भूतकाल होता है। इस काल के वाक्यों में एक शर्त सी लगी होती है; <b>जैसे</b>- यदि अहम् अपठिष्यम् तर्हि विद्वान अभविष्यम्। (यदि मैं पढ़ता तो विद्वान् हो जाता।)<br>
                <h4 style="text-align: left;">
                लुङ्ग् लकार के उदाहरण क्रिया, कर्ता, पुरुष तथा वचन अनुसार</h4>
                <table class="large-table r-table">
                <tbody>
                <tr>
                <th>पुरुष</th>
                <th width="28%">एकवचन</th>
                <th width="28%">द्विवचन</th>
                <th width="28%">बहुवचन</th>
                </tr>
                <tr>
                <td>प्रथम पुरुष</td>
                <td>उसने पढ़ा होता।<br>
                सः अपठिष्यत्।</td>
                <td>उन दोनों ने पढ़ा होता।<br>
                तौ अपठिष्यताम्।</td>
                <td>उन सबने पढ़ा होता।<br>
                ते अपठिष्यन्।</td>
                </tr>
                <tr>
                <td>मध्यम पुरुष</td>
                <td>तुमने पढ़ा होता।<br>
                त्वम् अपठिष्यः।</td>
                <td>तुम दोनों ने पढ़ा होता।<br>
                युवाम् अपठिष्यतम्।</td>
                <td>तुम सबने पढ़ा होता।<br>
                यूयम् अपठिष्यत।</td>
                </tr>
                <tr>
                <td>उत्तम पुरुष</td>
                <td>मैंने पढ़ा होता।<br>
                अहम् अपठिष्यम्।</td>
                <td>हम दोनों ने पढ़ा होता।<br>
                आवाम् अपठिष्याव।</td>
                <td>हम सबने पढ़ा होता।<br>
                वयम् अपठिष्याम।</td>
                </tr>
                </tbody>
                </table>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>SansK</strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://github.com/GEEKS042">GEEKS042</a> team
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="/#intro" class="scrollto">Home</a>
            <a href="/#about" class="scrollto">About</a>
            <a href="/pvc">Privacy Policy</a>
            <a href="/pvc">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>