<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>संस्कृत पुरुष</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v3.0.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1 class="text-light"><a href="/"><span>SansK</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Levels</a></li>
          <li><a href="#portfolio">Extras</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#contact">Contact</a></li>

          <li class="get-started"><a href="#about">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>संस्कृत पुरुष</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/interme">Intermediate</a></li>
            <li>संस्कृत पुरुष</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->


  </main><!-- End #main -->
  <section id="portfolio-details" class="portfolio-details">
    <!-- <div class="container">

      <div class="row">

        <div class="center">
          <div class="owl-carousel portfolio-details-carousel">
            <img src="images/p1.png" class="img-fluid" width="80%" alt="">
            <img src="images/yh1.png" class="img-fluid" alt=""> 
            <img src="images/p2.png" class="img-fluid" width = "80%" alt="">
            img src="images/yh2.png" class="img-fluid" alt=""> 
            <img src="images/p3.png" class="img-fluid" width="80%" alt="">
            <img src="images/yh3.png" class="img-fluid" alt=""> 
          </div>
        </div>
      </div>
    </div> -->
    <div>
        <h3>वाच्य के परिभाषा</h3>
        <p>(लट्लकारे) संस्कृत भाषा में, सभी भारतीय भाषाओं में और अन्य योरोपीय भाषाओं में वाच्य का महत्त्वपूर्ण स्थान है। वाच्य के सही ज्ञान के बिना भाषा का आकार नहीं जाना जा सकता है।</p>
        <p>संस्कृत – भाषा में तीन वाच्य होते हैं–<br> (1) कर्तृवाच्य,<br> (2) कर्मवाच्य और<br> (3) भाववाच्य।</p>
        <p>क्रिया के द्वारा कहा गया कथन का प्रकार वाच्य होता है। कर्ता, कर्म या भाव में से किसी एक को क्रिया द्वारा कहा जाता है, इसलिए क्रिया कर्तृवाच्य, कर्मवाच्य अथवा भाववाच्य होती है।</p>
        <p>‘पठति’ (पढ़ता है) ऐसा कहे जाने पर प्रश्न उत्पन्न होता है कि “कः पठति?” (कौन पढ़ता है?) इसके उत्तर में कहा जाता है – “कोऽपि पठनकर्ता पठति” (कोई पढ़ने वाला कर्ता पढ़ता है)। इस प्रकार क्रिया के द्वारा कर्ता को सूचित किया जाता है, अतः ‘पठति’ कर्तृवाच्य है। दूसरी ओर ‘पठ्यते.’ (पढ़ा जाता है) ऐसा कहे जाने पर प्रश्न उत्पन्न होता है कि “किम् पठ्यते?” (क्या पढ़ा जाता है?) इसके उत्तर के रूप में कहा जा सकता है कि “कोऽपि ग्रन्थः किमपि पुस्तकं वा संजीव पास बुक्स पठ्यते।”</p>
        <p>(कोई भी. ग्रन्थ अथवा कोई पुस्तक पढ़ी जाती है।) इससे स्पष्ट होता है कि यहाँ क्रिया से कर्म कहा गया है। अतः ‘पठ्यते’ कर्मवाच्य है। कर्तृवाच्य तो सभी सकर्मक या अकर्मक क्रियाओं का होता है, किन्तु कर्मवाच्य केवल सकर्मक क्रियाओं का ही होता है। वह कर्म की नित्य स्थिति होने के कारण। जिन क्रियाओं का कर्म नहीं होता है वे अकर्मक क्रिया कही जाती हैं, जैसे ‘हस्’, ‘शी’ आदि। संस्कृत भाषा में अकर्मक क्रियाओं से भाववाच्य होता है। वहाँ कर्म के विद्यमान न होने से कर्मवाच्य नहीं कर सकते हैं। उदाहरण के लिए ‘स्वप्’ (शयन करना) अकर्मक है। वहाँ भाववाच्य ‘सुप्यते’ होगा। भाव का अर्थ है “क्रिया’। अर्थात् – ‘सुप्यते’ पद के द्वारा न तो कर्ता कहा जाता है और न ही कर्म कहा जाता है, अपितु क्रिया ही कही जाती है। इसलिए ‘सुप्यते ‘ भाववाच्य है।</p>
        <p>वाक्य – रचना विशेष में वाच्य के अनुसार कुछ सामान्य नियम होते हैं, उसका ज्ञान वाक्य – रचना के लिए आवश्यक है।</p>
        <p>(i) कर्तृवाच्य – कर्तृवाच्य में कर्ता की प्रधानता होती है, इसलिए क्रिया में लिङ्ग, पुरुष व वचन कर्ता के अनुसार होता है। जैसे-</p>
        <p>बालकः विद्यालयं गच्छति। बालको विद्यालयं गच्छतः। बालकाः विद्यालयं गच्छन्ति। त्वं किं करोषि? युवां किं कुरुथः? यूयं किं कुरुथ? अहं ग्रन्थं पठामि। आवां ग्रन्थौ पठावः। वयं ग्रन्थान् पठामः। कहा भी गया है कि –</p>
        <p><em>कर्तरि प्रथमा यत्र द्वितीयाऽथ च कर्मणि। </em><br> <em>कर्तृवाच्यं भवेत् तत्तु क्रिया कर्तृनुसारिणी॥</em></p>
    </div>
    
  </section><!-- End Portfolio Details Section -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Vesperr</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>